nav {
  position: relative;
  z-index: +1;
  .row {
    @include rowfixed;
    .main_logo {
      img {
        @include image(100%, cover, 96px);
      }
    }
    .col-lg-9 {
      background-color: $maincolor;
      height: 96px;
      .nav_list {
        ul {
          margin: 0;
          @include ul-flex(center, flex-end, 40px, 30px);
          li {
            @include li;
            a {
              @include a-dec(none, normal, 500, 16px, 20px, #ffffff);
            }
          }
        }
      }
    }
  }
}
#responsiv_navbar {
  height: 0;
  visibility: hidden;
}
@media (max-width: 768px) {
  nav {
    display: none;
  }
  .vector1 {
    right: 0;
  }
  #responsiv_navbar {
    @include responsiv_navbar(fixed, 0, 0, +11, 100%, visible);
    .res_logo {
      img {
        @include image(100%, cover, 70px);
      }
    }
    .rea_list {
      @include rea_list;
      .sidepanel {
        @include sidepanel(
          250px,
          0,
          fixed,
          1,
          0,
          0,
          $maincolor,
          hidden,
          60px,
          0.5s ease-in-out
        );
        a {
          @include sidepanel-a(
            8px 8px 8px 32px,
            none,
            20px,
            #ffffff,
            block,
            0.5s ease-in-out
          );
        }
        .closebtn {
          @include closebtn;
        }
      }
      .openbtn {
        @include openbtn;
      }
    }
  }
}
#heading {
  margin-top: 100px;
  position: relative;
  .text_vector {
    .bold {
      @include dec(normal, 600, 25px, 30px, black);
    }
    p {
      @include dec(normal, 300, 16px, 20px, black);
    }
  }
  .vector1 {
    position: absolute;
    bottom: 0px;
    cursor: pointer;
    img {
      width: 80%;
    }
    p {
      margin: 0;
    }
  }
  .vector2 {
    cursor: pointer;
    margin-top: 50px;
    img {
      max-width: 22%;
    }
  }
  .animation {
    display: flex;
    justify-content: center;
    img {
      width: 50%;
    }
  }
}
#icons {
  .icon {
    @include ul-flex(center, space-around, 20px, 0px);
    li {
      @include li;
      a {
        @include a-link(none, black);
      }
    }
  }
}
#cardss {
  .relative {
    position: relative;
    width: 100%;
    &:hover {
      .block {
        opacity: 1;
      }
    }
    .card_item {
      img {
        @include img-parametrs(100%, cover, 5px, block, auto);
      }
    }
    .block {
      @include block-item(
        absolute,
        0,
        0,
        0,
        100%,
        0,
        0.3s ease-in-out,
        #f7842583,
        100%
      );
    }
    .rabit {
      @include rabbit-item(
        white,
        50px,
        absolute,
        50%,
        50%,
        translate(-50%, -50%),
        center,
        none
      );
    }
  }
}
footer {
  background-color: $maincolor;
  .footer_logo {
    img {
      @include img-nav(#fff, 70%, cover);
    }
  }
  .footer_list1,
  .contact_list {
    ul {
      @include ul-flex(flex-start, flex-start, 10px, 10px 0px);
      flex-direction: column;
      li {
        @include li;
        a {
          @include a-dec(none, normal, 500, 16px, 20px, #ffffff);
        }
      }
    }
  }
  .end {
    @include flex(flex-end, 0px, center, row);
    .endtext {
      p {
        @include p-dec(100%, white, center, 0px 25px);
      }
    }
    .icons {
      ul {
        cursor: pointer;
        @include flex(center, 30px, center, row);
        li {
          @include li;
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
    @media (max-width: 768px) {
      @include flex(flex-start, 0px, flex-start, column);
      .icons {
        ul {
          gap: 40px;
        }
      }
      .endtext {
        p {
          padding: 0px 6px;
        }
      }
    }
  }
}
#Contact_us {
  margin-top: 100px;
  .home {
    padding: 10px;
    cursor: pointer;
    @include flex(flex-start, 10px, center, row);
    p {
      margin: 0;
    }
  }
  .left {
    .big {
      p {
        @include dec(normal, 600, 55px, 67px, $maincolor);
      }
    }
    .boldddd {
      p {
        @include dec(normal, 600, 25px, 30px, $maincolor);
      }
    }
    .normal {
      p {
        @include dec(normal, 300, 18px, 20px, $maincolor);
      }
    }
  }
  .contact_list {
    img {
      @include img-parametrs(100%, cover, 5px, block, auto);
    }
  }
}
#Rabbit {
  margin-top: 100px;
  .home {
    cursor: pointer;
    padding: 10px;
    @include flex(flex-start, 10px, center, row);
    p {
      margin: 0;
    }
  }
  .text_rabbit {
    width: calc(100% - 400px);
    .bigtext {
      @include dec(normal, 700, 60px, 70px, black);
    }
    .classic {
      @include dec(normal, 400, 16px, 20px, black);
    }
  }
  @media (max-width: 768px) {
    .text_rabbit {
      width: 100%;
      .bigtext {
        @include dec(normal, 700, 30px, 30px, black);
      }
      .classic {
        @include dec(normal, 400, 12px, 14px, black);
      }
    }
  }
}
#images {
  .image {
    img {
      @include img-parametrs(100%, cover, 5px, black, auto);
    }
  }
}
#end {
  .text-end {
    justify-content: start;
    display: flex;
    margin-top: 20px;
    @include dec(normal, 700, 40px, 40px, black);
  }
  .image {
    img {
      @include img-parametrs(100%, cover, 5px, black, auto);
    }
  }
}
#Who_we_are {
  margin-top: 100px;
  .image_monke {
    img {
      @include img-parametrs(100%, cover, 0px, block, auto);
    }
  }
  .home {
    cursor: pointer;
    padding: 10px;
    @include flex(flex-start, 10px, center, row);
    p {
      margin: 0;
    }
  }
  .left {
    .big {
      p {
        @include dec(normal, 600, 45px, 50px, $maincolor);
      }
    }
    .boldddd {
      p {
        @include dec(normal, 600, 25px, 30px, $maincolor);
      }
    }
    .normal {
      p {
        @include dec(normal, 300, 18px, 20px, $maincolor);
      }
    }
  }
}
#head_monke {
  .start_text {
    justify-content: start;
    display: flex;
    margin-top: 20px;
    @include dec(\normal, 600, 25px, 25px, black);
  }
  .monkeimage {
    img {
      @include img-parametrs(100%, cover, 0px, block, auto);
    }
  }
}
#What_we_do {
  .start_text {
    justify-content: start;
    display: flex;
    @include dec(normal, 600, 25px, 25px, black);
  }
  .what_image {
    img {
      @include img-parametrs(100%, cover, 0px, block, auto);
    }
  }
  .waht_tems {
    .buttonss {
      button {
        border: none;
        background-color: $maincolor;
        padding: 11px 31px;
        a {
          @include a-dec(none, normal, 700, 20px, 27px, white);
        }
      }
    }
    .texttb {
      margin-top: 15px;
      @include dec(normal, 400, 18px, 20px, black);
    }
  }
}
body {
  overflow: hidden;
}
#preloader {
  @include preloader;
}
#status {
  @include status;
}
