nav {
  position: relative;
  z-index: +1;
  .row {
    position: fixed;
    background-color: $maincolor;
    left: 0;
    top: 0;
    width: 100%;
    .main_logo {
      img {
        @include img-nav(#fff, 70%, cover);
      }
    }
    .burger {
      img {
        display: none;
      }
    }
    .col-lg-9 {
      .nav_list {
        background-color: $maincolor;
        ul {
          margin: 0;
          @include ul-flex(center, flex-end, 40px, 12px);
          li {
            @include li;
            a {
              @include a-dec(
                none,
                "Cabinet Grotesk",
                normal,
                700,
                18px,
                22px,
                #ffffff
              );
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .main_logo {
    img {
      width: 37%;
    }
  }
  .nav_list {
    ul {
      display: flex;
      flex-direction: column;
    }
    @include medialist(
      55px,
      absolute,
      100%,
      0,
      0,
      black,
      #fff,
      translateX(-500px)
    );
  }
  .burger {
    img {
      @include imgmedia;
    }
  }
  .vector1 {
    right: 0;
  }
}
#heading {
  position: relative;
  .text_vector {
    .bold {
      @include dec("Cabinet Grotesk", normal, 700, 30px, 37px, black);
    }
    p {
      @include dec("Cabinet Grotesk", normal, 400, 18px, 25px, black);
    }
  }
  .vector1 {
    position: absolute;
    bottom: 0px;
    cursor: pointer;
    img {
      width: 80%;
    }
    p {
      margin: 0;
    }
  }
  .vector2 {
    cursor: pointer;
    img {
      width: 19%;
    }
  }
  .animation {
    display: flex;
    justify-content: center;
    img {
      width: 50%;
    }
  }
}
#icons {
  .icon {
    @include ul-flex(center, space-evenly, 0px, 0px);
    li {
      @include li;
      a {
        @include a-link(none, black);
      }
    }
  }
}
#cardss {
  .relative {
    position: relative;
    width: 100%;
    &:hover {
      .block {
        opacity: 1;
      }
    }
    .card_item {
      img {
        @include img-parametrs(100%, cover, 5px, block, auto);
      }
    }
    .block {
      @include block-item(
        absolute,
        0,
        0,
        0,
        100%,
        0,
        0.3s ease-in-out,
        $gold,
        100%
      );
    }
    .rabit {
      @include rabbit-item(
        white,
        50px,
        absolute,
        50%,
        50%,
        translate(-50%, -50%),
        center,
        none
      );
    }
  }
}
footer {
  background-color: $maincolor;
  .footer_logo {
    img {
      @include img-nav(#fff, 70%, cover);
    }
  }
  .footer_list1,
  .contact_list {
    ul {
      @include ul-flex(flex-start, flex-start, 10px, 10px 0px);
      flex-direction: column;
      li {
        @include li;
        a {
          @include a-dec(
            none,
            "Cabinet Grotesk",
            normal,
            700,
            18px,
            22px,
            #ffffff
          );
        }
      }
    }
  }
  .end {
    @include flex(flex-end, 0px, center, row);
    .endtext {
      p {
        @include p-dec(100%, white, center, 5px);
      }
    }
    .icons {
      ul {
        cursor: pointer;
        @include flex(center, 30px, center, row);
        li {
          @include li;
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
    @media (max-width: 768px) {
      @include flex(flex-start, 0px, flex-start, column);
      .icons {
        ul {
          gap: 60px;
        }
      }
    }
  }
}
#Contact_us {
  margin-top: 100px;
  .home {
    cursor: pointer;
    @include flex(flex-start, 10px, center, row);
    p {
      margin: 0;
    }
  }
  .left {
    .big {
      p {
        @include dec("Cabinet Grotesk", normal, 700, 60px, 74px, $maincolor);
      }
    }
    .boldddd {
      p {
        @include dec("Cabinet Grotesk", normal, 700, 30px, 37px, $maincolor);
      }
    }
    .normal {
      p {
        @include dec("Cabinet Grotesk", normal, 400, 20px, 25px, $maincolor);
      }
    }
  }
  .contact_list {
    img {
      @include img-parametrs(100%, cover, 5px, block, auto);
    }
  }
}
#Rabbit {
  margin-top: 100px;
  .home {
    cursor: pointer;
    @include flex(flex-start, 10px, center, row);
    p {
      margin: 0;
    }
  }
  .text_rabbit {
    width: calc(100% - 400px);
    .bigtext {
      @include dec("Cabinet Grotesk", normal, 700, 60px, 70px, black);
    }
    .classic {
      @include dec("Cabinet Grotesk", normal, 400, 16px, 20px, black);
    }
  }
  @media (max-width: 768px) {
    .text_rabbit {
      width: 100%;
      .bigtext {
        @include dec("Cabinet Grotesk", normal, 700, 30px, 30px, black);
      }
      .classic {
        @include dec("Cabinet Grotesk", normal, 400, 12px, 14px, black);
      }
    }
  }
}
#images {
  .image {
    img {
      @include img-parametrs(100%, cover, 5px, black, auto);
    }
  }
}
#end {
  .text-end {
    justify-content: start;
    display: flex;
    margin-top: 20px;
    @include dec("Cabinet Grotesk", normal, 700, 40px, 40px, black);
  }
  .image {
    img {
      @include img-parametrs(100%, cover, 5px, black, auto);
    }
  }
}
#Who_we_are {
  margin-top: 100px;
  .image_monke {
    img {
      @include img-parametrs(100%, cover, 0px, block, auto);
    }
  }
  .home {
    cursor: pointer;
    @include flex(flex-start, 10px, center, row);
    p {
      margin: 0;
    }
  }
  .left {
    .big {
      p {
        @include dec("Cabinet Grotesk", normal, 700, 50px, 60px, $maincolor);
      }
    }
    .boldddd {
      p {
        @include dec("Cabinet Grotesk", normal, 700, 30px, 37px, $maincolor);
      }
    }
    .normal {
      p {
        @include dec("Cabinet Grotesk", normal, 400, 20px, 25px, $maincolor);
      }
    }
  }
}
#head_monke {
  .start_text {
    justify-content: start;
    display: flex;
    margin-top: 20px;
    @include dec("Cabinet Grotesk", normal, 600, 25px, 25px, black);
  }
  .monkeimage {
    img {
      @include img-parametrs(100%, cover, 0px, block, auto);
    }
  }
}
#What_we_do {
  .start_text {
    justify-content: start;
    display: flex;
    @include dec("Cabinet Grotesk", normal, 600, 25px, 25px, black);
  }
  .what_image {
    img {
      @include img-parametrs(100%, cover, 0px, block, auto);
    }
  }
  .waht_tems {
    .buttonss {
      button {
        border: none;
        background-color: $maincolor;
        padding: 11px 31px;
        a {
          @include a-dec(
            none,
            "Cabinet Grotesk",
            normal,
            700,
            20px,
            27px,
            #ffffff
          );
        }
      }
    }
    .texttb {
      margin-top: 15px;
      @include dec("Cabinet Grotesk", normal, 400, 18px, 20px, black);
    }
  }
}
#preloader {
  background: #17131c url(/image/Loading.gif) no-repeat center center;
  background-size: 10%;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  .zeynush {
    animation: zeynab 3s forwards;
  }
  @keyframes zeynab {
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
}
