@mixin img-nav($bg, $mwidth, $ob-fit) {
  background-color: $bg;
  max-width: $mwidth;
  object-fit: $ob-fit;
}
@mixin ul-flex($items, $content, $gap, $puding) {
  display: flex;
  align-items: $items;
  justify-content: $content;
  gap: $gap;
  padding: $puding;
}
@mixin li {
  list-style: none;
  list-style-type: none;
}
@mixin a-dec($tdec, $fontsty, $fontw, $fonts, $lineh, $color) {
  text-decoration: $tdec;
  font-style: $fontsty;
  font-weight: $fontw;
  font-size: $fonts;
  line-height: $lineh;
  color: $color;
  &:hover {
    color: $gold;
    transition: 0.3s ease-in-out;
  }
}
@mixin a-link($tdec, $color) {
  text-decoration: $tdec;
  color: $color;
  &:hover {
    color: $gold;
    transition: 0.3s ease-in-out;
  }
}
@mixin dec($fontsty, $fontw, $fonts, $lineh, $color) {
  font-style: $fontsty;
  font-weight: $fontw;
  font-size: $fonts;
  line-height: $lineh;
  color: $color;
}
@mixin medialist($mt, $postion, $width, $top, $left, $bg, $color, $transfm) {
  margin-top: $mt;
  position: $postion;
  width: $width;
  top: $top;
  left: $left;
  background-color: $bg;
  color: $color;
  transform: t$transfm;
}
@mixin imgmedia {
  display: block !important;
  position: absolute;
  top: 3px;
  right: 11px;
}
@mixin flex($content, $gap, $items, $f-drec) {
  display: flex;
  justify-content: $content;
  gap: $gap;
  align-items: $items;
  flex-direction: $f-drec;
}
@mixin p-dec($widtj, $color, $tex-al, $puding) {
  width: $widtj;
  color: $color;
  text-align: $tex-al;
  padding: $puding;
}
@mixin block-item(
  $position,
  $top,
  $left,
  $right,
  $height,
  $opacit,
  $transition,
  $bg,
  $width
) {
  position: $position;
  top: $top;
  left: $left;
  right: $right;
  height: $height;
  opacity: $opacit;
  transition: $transition;
  background-color: $bg;
  width: $width;
}
@mixin rabbit-item(
  $color,
  $fonts,
  $position,
  $top,
  $left,
  $transform,
  $textal,
  $texdec
) {
  color: $color;
  font-size: $fonts;
  position: $position;
  top: $top;
  left: $left;
  transform: $transform;
  text-align: $textal;
  text-decoration: $texdec;
}
@mixin img-parametrs($widtj, $ob-fit, $bor-rad, $display, $heght) {
  width: $widtj;
  object-fit: $ob-fit;
  border-radius: $bor-rad;
  display: $display;
  height: $heght;
}
@mixin image($width, $ob-fit, $height) {
  width: $width;
  object-fit: $ob-fit;
  height: $height;
}
@mixin rowfixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
@mixin responsiv_navbar($position, $left, $top, $zidex, $width, $visible) {
  position: $position;
  left: $left;
  top: $top;
  z-index: $zidex;
  width: $width;
  visibility: $visible;
  display: flex;
}
@mixin rea_list {
  height: 70px;
  background-color: $maincolor;
  width: 50%;
}
@mixin sidepanel(
  $heght,
  $width,
  $position,
  $zindex,
  $top,
  $left,
  $bg,
  $oveflow,
  $p-t,
  $transition
) {
  height: $heght;
  width: $width;
  position: $position;
  z-index: $zindex;
  top: $top;
  left: $left;
  background-color: $bg;
  overflow-x: $oveflow;
  padding-top: $p-t;
  transition: $transition;
}
@mixin sidepanel-a($puding, $text-dec, $font-s, $color, $display, $trnsition) {
  padding: $puding;
  text-decoration: $text-dec;
  font-size: $font-s;
  color: $color;
  display: $display;
  transition: $trnsition;
  &:hover {
    color: #ff951c;
  }
}
@mixin closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@mixin openbtn {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  font-size: 20px;
  cursor: pointer;
  background-color: $maincolor;
  color: white;
  padding: 17px 15px;
  border: none;
}
@mixin preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $maincolor;
  z-index: 99;
}
@mixin status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(/image/Loading.gif);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}
