@mixin img-nav($bg, $mwidth, $ob-fit) {
  background-color: $bg;
  max-width: $mwidth;
  object-fit: $ob-fit;
}
@mixin ul-flex($items, $content, $gap, $puding) {
  display: flex;
  align-items: $items;
  justify-content: $content;
  gap: $gap;
  padding: $puding;
}
@mixin li {
  list-style: none;
  list-style-type: none;
}
@mixin a-dec($tdec, $fontf, $fontsty, $fontw, $fonts, $lineh, $color) {
  text-decoration: $tdec;
  font-family: $fontf;
  font-style: $fontsty;
  font-weight: $fontw;
  font-size: $fonts;
  line-height: $lineh;
  color: $color;
  &:hover {
    color: $gold;
    transition: 0.3s ease-in-out;
  }
}
@mixin a-link($tdec, $color) {
  text-decoration: $tdec;
  color: $color;
  &:hover {
    color: $gold;
    transition: 0.3s ease-in-out;
  }
}
@mixin dec($fontf, $fontsty, $fontw, $fonts, $lineh, $color) {
  font-family: $fontf;
  font-style: $fontsty;
  font-weight: $fontw;
  font-size: $fonts;
  line-height: $lineh;
  color: $color;
}
@mixin medialist($mt, $postion, $width, $top, $left, $bg, $color, $transfm) {
  margin-top: $mt;
  position: $postion;
  width: $width;
  top: $top;
  left: $left;
  background-color: $bg;
  color: $color;
  transform: t$transfm;
}
@mixin imgmedia {
  display: block !important;
  position: absolute;
  top: 3px;
  right: 11px;
}
@mixin flex($content, $gap, $items, $f-drec) {
  display: flex;
  justify-content: $content;
  gap: $gap;
  align-items: $items;
  flex-direction: $f-drec;
}
@mixin p-dec($widtj, $color, $tex-al, $puding) {
  width: $widtj;
  color: $color;
  text-align: $tex-al;
  padding: $puding;
}
@mixin block-item(
  $position,
  $top,
  $left,
  $right,
  $height,
  $opacit,
  $transition,
  $bg,
  $width
) {
  position: $position;
  top: $top;
  left: $left;
  right: $right;
  height: $height;
  opacity: $opacit;
  transition: $transition;
  background-color: $bg;
  width: $width;
}
@mixin rabbit-item(
  $color,
  $fonts,
  $position,
  $top,
  $left,
  $transform,
  $textal,
  $texdec
) {
  color: $color;
  font-size: $fonts;
  position: $position;
  top: $top;
  left: $left;
  transform: $transform;
  text-align: $textal;
  text-decoration: $texdec;
}
@mixin img-parametrs($widtj, $ob-fit, $bor-rad, $display, $heght) {
  width: $widtj;
  object-fit: $ob-fit;
  border-radius: $bor-rad;
  display: $display;
  height: $heght;
}
