@import "mixin";
@import "varaible";
@import "home/home";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
@font-face {
  font-family: "CabinetGrotesk";
  src: url(../font/CabinetGrotesk-Black.otf) format(opentype);
}

p {
  font-family: "CabinetGrotesk", serif;
}
